<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          required
          [(ngModel)]="patient.firstName"
          name="firstName"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          required
          [(ngModel)]="patient.lastName"
          name="lastName"
        />
      </div>
      <div class="form-group">
        <label for="phoneNo">Phone No</label>
        <input
          type="text"
          class="form-control"
          id="phoneNo"
          required
          [(ngModel)]="patient.phoneNo"
          name="phoneNo"
        />
      </div>
      <div class="form-group" type="date">
        <label for="dateOfBirth">Date Of Birth</label>
        <input
          type="text"
          class="form-control"
          id="dateOfBirth"
          required
          [(ngModel)]="patient.dateOfBirth"
          name="dateOfBirth"
        />
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" [(ngModel)]="patient.gender">
          <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
        </select>

      </div>
      <div class="form-group">
        <label for="title">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          required
          [(ngModel)]="patient.address"
          name="address"
        />
      </div>
      <div class="form-group">
        <label for="suburb">Suburb</label>
        <input
          type="text"
          class="form-control"
          id="suburb"
          required
          [(ngModel)]="patient.suburb"
          name="suburb"
        />
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input
          type="text"
          class="form-control"
          id="state"
          required
          [(ngModel)]="patient.state"
          name="state"
        />
      </div>
      <div class="form-group">
        <label for="postcode">Post Code</label>
        <input
          type="text"
          class="form-control"
          id="postcode"
          required
          [(ngModel)]="patient.postcode"
          name="postcode"
        />
      </div>

      <button (click)="savePatient()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Patient was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPatient()">Add</button>
    </div>
  </div>
</div>
